<h1> DS200A Computer Vision Assignment</h1>

<h2>  Part One: Data Input </h2>

<h3>  Import Statements </h3>

In [17]:
#Import anything you need here
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import skimage
from skimage import data
from skimage import io
import os
import re

In [ ]:
#Example of reading in a file


filename = os.path.join(skimage.data_dir, 'd.jpg')
dog = io.imread(filename)
skimage.io.imshow(dog)

plt.show()
filename2 = os.path.join(skimage.data_dir, 'c.jpg')
cat = io.imread(filename2)
example_data_frame= pd.DataFrame()


example_data_frame['Pictures']=[dog, cat]
example_data_frame['Encoding']=[1,2]
example_data_frame

<h4> Using the code for reference, take the given folder and create a dataframe with the picture object, and the encoding as listed below. </h4>	
0=Airplanes, 1=Bear, 2=Blimp, 3=Comet, 4=Crab, 5=Dog, 6=Dolphin, 7=Giraffe, 8=Goat, 9=Gorilla, 10=Kangaroo, 11=Killer-Whale, 12=Leopards, 13=Llama, 14= Penguin, 15= Porcupine, 16=Teddy-Bear, 17=Triceratops, 18=Unicorn, 19=Zebra

In [18]:
types=['airplanes', 'bear', 'blimp', 'comet', 'crab', 'dog', 'dolphin', 'giraffe', 'goat', 'gorilla', 'kangaroo', 'killer-whale', 'leopards', 'llama', 'penguin',
       'porcupine', 'teddy-bear', 'triceratops', 'unicorn', 'zebra']

In [19]:
def read_organize_data(file_path):
    #Fill this function out, should return a dataframe with picture object, and correct encoding
    
    pics=[]
    enc=[]
    for i in range(0,len(types)):
        typedir = os.path.join(file_path, types[i])
        for file in os.listdir(typedir):
            filename=os.path.join(typedir, file)
            pics.append(io.imread(filename))
            enc.append(i)
    df=pd.DataFrame({
        'Pictures': pics,
        'Encoding': enc
    })
    
    return df

In [20]:
starting_data = read_organize_data("20_categories_training/20_categories_training")
starting_data

                                               Pictures  Encoding
0     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
1     [[[88, 56, 17], [95, 63, 24], [101, 69, 30], [...         0
2     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
3     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
4     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
...                                                 ...       ...
1496  [[[113, 106, 90], [105, 104, 84], [110, 107, 8...        19
1497  [[[36, 37, 58], [22, 24, 45], [18, 23, 42], [1...        19
1498  [[[224, 218, 218], [216, 210, 210], [217, 213,...        19
1499  [[[132, 138, 90], [137, 143, 95], [148, 151, 1...        19
1500  [[[165, 185, 113], [155, 174, 110], [162, 179,...        19

[1501 rows x 2 columns]

In [21]:
pics= []
ids= []
typedir = "20_Validation"
for file in os.listdir(typedir):
    filename = os.path.join(typedir, file)
    pics.append(io.imread(filename))
    ids.append(int(re.findall(r'\d+', filename)[1])-1)
test_data = pd.DataFrame({ 'Pictures': pics, 'Id': ids}).sort_values(by='Id', ascending=True).set_index('Id')
test_data

                                              Pictures
Id
0    [[[80, 79, 74], [56, 55, 50], [54, 53, 48], [4...
1    [[[10, 15, 19], [10, 15, 19], [11, 16, 19], [1...
2    [[[232, 231, 247], [250, 249, 255], [235, 234,...
3    [[[97, 75, 77], [98, 76, 78], [99, 77, 79], [1...
4    [[[19, 46, 55], [19, 46, 53], [20, 47, 54], [2...
..                                                 ...
711  [[[64, 70, 84], [64, 70, 82], [65, 72, 82], [6...
712  [[[255, 255, 255], [255, 255, 255], [255, 255,...
713  [[[127, 178, 241], [124, 176, 236], [124, 176,...
714  [[[71, 97, 122], [70, 91, 118], [66, 86, 113],...
715  [[[14, 73, 105], [13, 72, 104], [21, 82, 111],...

[716 rows x 1 columns]

In [22]:
starting_data.to_pickle('starting_data.pkl')

In [23]:
test_data.to_pickle('test_data.pkl')