<h1> DS200A Computer Vision Assignment</h1>

<h2>  Part Two: Exploratory data analysis and feature extraction. </h2>

<h5> In this section, Compute at least 15 such image features (a method for each), including the following (NOTE: At least 10 of these must be scalar features and 2 matrix-based features): (i) image size, (ii) average of the red-channel intensity, (iii) aspectratio. This will require significant explatoratory research and data analysis. The first one is already implemented for you, and the next two are pre-specified. Additional requirements specfied in pdf. </h5>

In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import skimage
from skimage import data
from skimage import io
import os

In [37]:
# Returns the pixel size of the image
def ft0(image):
    return image.size

# Returns the average of the red-channel pictures for the images
def ft1(image):
    reds=[]
    for i in range(0,len(image)):
        for j in range(0,len(image[0])):
            reds.append(image[i][j][0])
    return np.mean(reds)

#Returns the aspect ratio of the image
def ft2(image):
    return len(image)/len(image[0])

#Returns the average of the green-channel pictures for the images
def ft3(image):
    greens=[]
    for i in range(0,len(image)):
        for j in range(0,len(image[0])):
            greens.append(image[i][j][1])
    return np.mean(greens)

#Returns the average of the blue-channel pictures for the images
def ft4(image):
    blues=[]
    for i in range(0,len(image)):
        for j in range(0,len(image[0])):
            blues.append(image[i][j][2])
    return np.mean(blues)

In [26]:
def read_organize_data(file_path):
    #Fill this function out, should return a dataframe with picture object, and correct encoding
    
    pics=[]
    enc=[]
    for i in range(0,len(types)):
        typedir = os.path.join(file_path, types[i])
        for file in os.listdir(typedir):
            filename=os.path.join(typedir, file)
            pics.append(io.imread(filename))
            enc.append(i)
    df=pd.DataFrame({
        'Pictures': pics,
        'Encoding': enc
    })
    
    return df

In [30]:
types=['airplanes', 'bear', 'blimp', 'comet', 'crab', 'dog', 'dolphin', 'giraffe', 'goat', 'gorilla', 'kangaroo', 'killer-whale', 'leopards', 'llama', 'penguin',
       'porcupine', 'teddy-bear', 'triceratops', 'unicorn', 'zebra']
starting_data = read_organize_data("/Users/xuwencc/Downloads/final_project/20_categories_training/20_categories_training")

In [31]:
starting_data

                                               Pictures  Encoding
0     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
1     [[[88, 56, 17], [95, 63, 24], [101, 69, 30], [...         0
2     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
3     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
4     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
...                                                 ...       ...
1496  [[[113, 106, 90], [105, 104, 84], [110, 107, 8...        19
1497  [[[36, 37, 58], [22, 24, 45], [18, 23, 42], [1...        19
1498  [[[224, 218, 218], [216, 210, 210], [217, 213,...        19
1499  [[[132, 138, 90], [137, 143, 95], [148, 151, 1...        19
1500  [[[165, 185, 113], [155, 174, 110], [162, 179,...        19

[1501 rows x 2 columns]

In [32]:
sample=starting_data['Pictures'][1]

In [35]:
ft1(sample)

98.4269726039236

In [50]:
%run GradProject_NB1.ipynb

In [51]:
starting_data

                                               Pictures  Encoding
0     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
1     [[[88, 56, 17], [95, 63, 24], [101, 69, 30], [...         0
2     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
3     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
4     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
...                                                 ...       ...
1496  [[[113, 106, 90], [105, 104, 84], [110, 107, 8...        19
1497  [[[36, 37, 58], [22, 24, 45], [18, 23, 42], [1...        19
1498  [[[224, 218, 218], [216, 210, 210], [217, 213,...        19
1499  [[[132, 138, 90], [137, 143, 95], [148, 151, 1...        19
1500  [[[165, 185, 113], [155, 174, 110], [162, 179,...        19

[1501 rows x 2 columns]

 We expect all external sources sited, and significant indication of EDA.

<h4> Graphs </h4>

<h4> Sources </h4>

<h4> DataFrame Creation </h4>

In [2]:
def feature_frame(df):
    
    df=pd.DataFrame({
        'size': starting_data['Pictures'].apply(ft0),
        'red_avg': starting_data['Pictures'].apply(ft1),
        'aspectratio': starting_data['Pictures'].apply(ft2),
        'green_avg': starting_data['Pictures'].apply(ft3),
        'blue_avg': starting_data['Pictures'].apply(ft4),
        
    })
    return df
    #Returns data-frame with all the features now inside, and calculated

In [3]:
feature_frame(data_from_nb1)

NameError: name 'starting_data' is not defined