<h1> DS200A Computer Vision Assignment</h1>

<h2>  Part Two: Exploratory data analysis and feature extraction. </h2>

<h5> In this section, Compute at least 15 such image features (a method for each), including the following (NOTE: At least 10 of these must be scalar features and 2 matrix-based features): (i) image size, (ii) average of the red-channel intensity, (iii) aspectratio. This will require significant explatoratory research and data analysis. The first one is already implemented for you, and the next two are pre-specified. Additional requirements specfied in pdf. </h5>

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import skimage
from skimage import data
from skimage import io
from skimage import feature as skfeat
import os

In [4]:
types=['airplanes', 'bear', 'blimp', 'comet', 'crab', 'dog', 'dolphin', 'giraffe', 'goat', 'gorilla', 'kangaroo', 'killer-whale', 'leopards', 'llama', 'penguin',
       'porcupine', 'teddy-bear', 'triceratops', 'unicorn', 'zebra']

In [7]:
%run GradProject_NB1.ipynb

In [8]:
starting_data

                                               Pictures  Encoding
0     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
1     [[[88, 56, 17], [95, 63, 24], [101, 69, 30], [...         0
2     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
3     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
4     [[[255, 255, 255], [255, 255, 255], [255, 255,...         0
...                                                 ...       ...
1496  [[[113, 106, 90], [105, 104, 84], [110, 107, 8...        19
1497  [[[36, 37, 58], [22, 24, 45], [18, 23, 42], [1...        19
1498  [[[224, 218, 218], [216, 210, 210], [217, 213,...        19
1499  [[[132, 138, 90], [137, 143, 95], [148, 151, 1...        19
1500  [[[165, 185, 113], [155, 174, 110], [162, 179,...        19

[1501 rows x 2 columns]

In [17]:
#Returns the matrix with color c-channel values
def color_matrix(image, c):
    values = [[0 for i in range(0, len(image[0]))] for j in range(0,len(image))]
    for i in range(0,len(image)):
        for j in range(0,len(image[0])):
            values[i][j] = image[i][j][c]
    return np.matrix(values)

In [18]:
# Returns the pixel size of the image
def ft0(image):
    return image.size

# Returns the average of the red-channel pictures for the images
def ft1(image):
    reds = color_matrix(image, 0)
    return reds.mean()

#Returns the aspect ratio of the image
def ft2(image):
    return len(image) / len(image[0])

#Returns the average of the green-channel pictures for the images
def ft3(image):
    greens = color_matrix(image, 1)
    return greens.mean()

#Returns the average of the blue-channel pictures for the images
def ft4(image):
    blues = color_matrix(image, 2)
    return blues.mean()

# Returns the standard deviation of the red-channel pictures for the images
def ft5(image):
    reds = color_matrix(image, 0)
    return reds.std()

#Returns the standard deviation of the green-channel pictures for the images
def ft6(image):
    greens = color_matrix(image, 1)
    return greens.std()

#Returns the standard deviation of the blue-channel pictures for the images
def ft7(image):
    blues = color_matrix(image, 2)
    return blues.std()

#Returns the standard deviation of the grey-channel pictures for the grey_scaled images
def ft8(image_g):
    greys = np.matrix(image_g)
    return greys.std()

# Returns colorfulness of an image
# https://www.pyimagesearch.com/2017/06/05/computing-image-colorfulness-with-opencv-and-python/
def ft9(image):
    (B, G, R) = image[:, :, 0], image[:, :, 1], image[:, :, 2]
 
    # compute rg = R - G
    rg = np.absolute(R - G)
 
    # compute yb = 0.5 * (R + G) - B
    yb = np.absolute(0.5 * (R + G) - B)
 
    # compute the mean and standard deviation of both `rg` and `yb`
    (rbMean, rbStd) = (np.mean(rg), np.std(rg))
    (ybMean, ybStd) = (np.mean(yb), np.std(yb))
 
    # combine the mean and standard deviations
    stdRoot = np.sqrt((rbStd ** 2) + (ybStd ** 2))
    meanRoot = np.sqrt((rbMean ** 2) + (ybMean ** 2))
 
    # derive the "colorfulness" metric and return it
    return stdRoot + (0.3 * meanRoot)

In [60]:
def read_organize_data_g(file_path):
    #Fill this function out, should return a dataframe with picture object, and correct encoding
    
    pics=[]
    enc=[]
    for i in range(0,len(types)):
        typedir = os.path.join(file_path, types[i])
        for file in os.listdir(typedir):
            filename=os.path.join(typedir, file)
            pics.append(io.imread(filename, as_grey=True))
            enc.append(i)
    df=pd.DataFrame({
        'Pictures': pics,
        'Encoding': enc
    })
    
    return df

In [63]:
starting_data_g = read_organize_data_g("/Users/xuwencc/Downloads/final_project/20_categories_training/20_categories_training")
starting_data_g

//anaconda3/lib/python3.7/site-packages/skimage/io/_io.py:48: UserWarning: `as_grey` has been deprecated in favor of `as_gray`
  warn('`as_grey` has been deprecated in favor of `as_gray`')

                                               Pictures  Encoding
0     [[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,...         0
1     [[0.23524745098039215, 0.26269843137254906, 0....         0
2     [[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,...         0
3     [[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,...         0
4     [[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,...         0
...                                                 ...       ...
1496  [[0.41699568627450984, 0.40302156862745103, 0....        19
1497  [[0.15020235294117645, 0.09838862745098038, 0....        19
1498  [[0.8599019607843137, 0.8285294117647058, 0.83...        19
1499  [[0.522604705882353, 0.5422125490196079, 0.576...        19
1500  [[0.6884658823529413, 0.6484239215686274, 0.67...        19

[1501 rows x 2 columns]

In [16]:
samples=starting_data['Pictures'][0]
ft4(samples)

111.7537975171563

 We expect all external sources sited, and significant indication of EDA.

<h4> Graphs </h4>

<h4> Sources </h4>

<h4> DataFrame Creation </h4>

In [2]:
def feature_frame(df):
    
    df=pd.DataFrame({
        'size': starting_data['Pictures'].apply(ft0),
        'red_avg': starting_data['Pictures'].apply(ft1),
        'aspectratio': starting_data['Pictures'].apply(ft2),
        'green_avg': starting_data['Pictures'].apply(ft3),
        'blue_avg': starting_data['Pictures'].apply(ft4),
        'grey_std': starting_data_g['Pictures'].apply(ft8)
    })
    return df
    #Returns data-frame with all the features now inside, and calculated

In [3]:
feature_frame(data_from_nb1)

NameError: name 'starting_data' is not defined